.map {
  fill: #f1e4c2;

  g {
    cursor: pointer;
  }

  path {
    stroke: #333;
    stroke-opacity: 0.5;
  }

  .city:hover path {
    fill: darken(#f1e4c2, 20%);
  }

  :global(.active) {
    path {
      fill: #00d09c;
    }

    &:hover path {
      fill: darken(#00d09c, 5%);
    }
  }

  text {
    fill: #333;
    pointer-events: none;
    font-size: 12px;
  }
}
