* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 2rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 1140px;
  }
}

.github-corner {
  display: none;
  
  @media (min-width: 768px) {
    display: block;
  }
}
